
DATABASE_URL="postgresql://USER:PASSWORD@HOST:5432/DATABASE?sslmode=require"


JWT_SECRET=""


JWT_EXPIRES_IN="7d"


# Origem (origin) do frontend permitida no CORS (ex.: https://app.exemplo.com)
FRONTEND_URL="http://localhost:5173"


# Identificadores dos campos personalizados do RD Station (cf_<api_identifier>)
# Ex.: campo "Produto de interesse" com identifier cf_produto_ou_servico
RD_FIELD_PRODUCT="cf_produto_ou_servico"
RD_FIELD_FINALITY="cf_finalidade"
